@import "style.css"; /* inherit global rules */

.auth-box {
-fx-padding: 25;
-fx-spacing: 18;
-fx-background-color: #fefefe;
-fx-border-color: #cccccc;
-fx-border-radius: 8;
-fx-background-radius: 8;
}

.text-field, .password-field {
-fx-max-width: 300px;
}

.google-btn {
-fx-background-color: #db4437;
-fx-text-fill: white;
}
.google-btn:hover {
-fx-background-color: #c23321;
}
